/* base */

body{
margin:0;
font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto;
background:#0b0b0b;
color:white;
}

/* HEADER */

.header{
display:flex;
justify-content:center;
align-items:center;

height:80px;

background:#ff4d6d;

font-size:26px;
font-weight:600;
letter-spacing:1px;
}

/* MAIN */

.container{
text-align:center;
padding-top:40px;
}

/* YEAR SECTIONS */

.year:first-of-type{
margin-top:20px;
}

.year{
margin-top:60px;
}

.year h2{
color:#888;
font-weight:400;
}

/* BUTTON GRID */

.months{
display:grid;
grid-template-columns:repeat(4, minmax(0,1fr));
gap:12px;
max-width:720px;
margin:15px auto;
}
.months a{
display:block;
width:100%;
}

/* BUTTON */

button{
width:100%;
padding:12px 20px;
border-radius:30px;
border:1px solid #ff4d6d;
background:transparent;
color:white;
cursor:pointer;
transition:0.25s;
}

button:hover{
background:#ff4d6d;
box-shadow:0 0 12px rgba(255,77,109,0.5);
transform:translateY(-2px);
}

/* FOOTER TIMER */

.footer{
position:fixed;
bottom:0;
width:100%;

display:flex;
justify-content:center;
gap:20px;

background:#111;
padding:14px 0;
border-top:2px solid #ff4d6d;
}

/* TIMER BOXES */

.timeBox{
display:flex;
flex-direction:column;
align-items:center;

background:#1a1a1a;

padding:8px 14px;
border-radius:8px;

min-width:60px;
}

.timeNumber{
font-size:22px;
font-weight:600;
color:#ff4d6d;

transition:transform .4s;
}

/* flip animation */

.flip{
transform:rotateX(360deg);
}

.timeLabel{
font-size:12px;
color:#888;
}

/* MOBILE */

@media (max-width: 700px){

.header{
font-size:20px;
height:65px;
}

.months{
grid-template-columns:repeat(2,1fr);
max-width:95%;
}

button{
min-height:44px;
padding:12px;
font-size:14px;
}

.year{
margin-top:40px;
}

.footer{
gap:10px;
padding:10px;
flex-wrap:wrap;
}

.timeBox{
min-width:50px;
padding:6px 10px;
}

.timeNumber{
font-size:18px;
}

}

/* TABLET */

@media (min-width:701px) and (max-width:1000px){

.months{
grid-template-columns:repeat(3,1fr);
}

}
